{%load static %}
<title>Guest-Book-App</title>
<link rel="stylesheet" href="{% static 'index.css' %}">
    <h1 style="margin: 0; align-items: center; color: rgb(40, 25, 4); display: flex; flex-direction: column; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-size: large;">Guest Book App</h1>
    <br> 
    <p style="align-items: center; display: flex; flex-direction: column; font: 1em sans-serif; font-size: medium; margin: 5%;"><span><b>Description:</b></span>
        This is a Guest Book App where a user can visit and enter his name and see who else have visited it earlier.
         There is an AI integration as well to make sure that this text field is not misused to enter any abusive or profane word.</p>


    <form method="POST" action="/" style="display: flex; flex-direction: column; align-items: center;">
        {% csrf_token %}
        <label for="name" style="padding: 2%;">Name:</label>
        <input type="text" name="name" id="name" required style="margin: 1%;">
        <input type="submit" value="Submit" style="margin: 1%;">
        <a href="{% url 'visitors' %}" class="btn btn-primary" style="padding: 1%;">Display</a>
    </form>
    {% if messages %}
        {% for message in messages %}
            {% if message.tags %}  <script>alert("{{ message }}")</script> {% endif %}

        {% endfor %}

    {% endif %}

